<h4><%= @another_entry.user.name %>さんとのチャット</h4>
<div class="messages">
  <%= render "messages/index", message: @message %>
</div>
<%= form_with model: @message, remote: true do |f| %>
  <%= f.text_field :content, id: "text" %>
  <%= f.hidden_field :room_id, value: @room.id %>
  <% f.submit %>
<% end %>